<div class="m-3">
  <div class="d-flex justify-content-center">
    <h1 class="">Pedido nº 0000</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <h4>Cod:</h4>
      <input type="text" size="2"/>
    </div>
    <div>
      <h4>Qtde:</h4>
      <input type="text" size="2" />
    </div>
    <h3 class="p-0 bi bi-plus-square-fill btn-outline-primary  m-1 d-inline-block"></h3>
  </div>
  <div class="m-3 border barra"><app-list></app-list></div>
  <footer>
    <h2 class="d-flex justify-content-center">Total: R$000,00</h2>
    <div class="d-flex justify-content-between">
      <button class=" btn btn-danger me-1" (click)="retrospect()">cancelar</button>
      <button class="btn btn-primary ms-1">comprar</button>
    </div>
  </footer>
</div>
