<div class="d-flex align-items-center justify-content-center flex-column h-100">
  <img src="assets/LOGO.png" class="img-responsive m-1" />
  <select ng-model="selectedCar" [(ngModel)]="vendedoraEscolhida" class="m-1">
    <option *ngFor="let vendedoras of vendedora" [ngValue]="vendedoras.id">
      <p>{{ vendedoras.name }}</p>
    </option>
  </select>
  <select ng-model="selectedCar" [(ngModel)]="operadorEscolhido" class="m-1">
    <option *ngFor="let operadores of operador" [ngValue]="operadores.id">
      <p>{{ operadores.name }}</p>
    </option>
  </select>
  <button
    class="btn btn-primary m-1"
    [ngClass]="{
      disabled: operadorEscolhido === 0 || vendedoraEscolhida === 0
    }"
    (click)="redirect()"
  >
    ENTRAR
  </button>
</div>
