<div class="d-flex align-items-center justify-content-center flex-column h-100">
  <img
    src="assets/LOGO.png"
    class="img-responsive m-1"
    style=" width: 50%"
  />
  <h1 class="m-1">vendedor</h1>
  <select ng-model="selectedCar" class="m-1">
    <option>vendedora 1</option>
    <option>vendedora 1</option>
    <option>vendedora 1</option>
  </select>
  <select ng-model="selectedCar" class="m-1">
    <option>varejo</option>
    <option>atacado</option>
  </select>
  <button class="btn btn-primary m-1" (click)="redirect()">ENTRAR</button>
</div>
